{% load static %}

<!DOCTYPE html>
<html>

<head>

<title>Roots & Resistance</title>

<link rel="stylesheet" href="{% static 'portfolio/podcast.css' %}">

</head>


<body>


<<section class="podcast-hero">


<div class="cloud cloud-one"></div>
<div class="cloud cloud-two"></div>
<div class="cloud cloud-three"></div>


<h1>
Roots & Resistance
</h1>


<p>
A Climate Justice Story Rooted in Resistance
</p>


</section>



<section class="podcast-content">


<div class="card">


<h2>
Why I Created This Podcast
</h2>


<p>

Roots & Resistance was created from a belief that climate stories
should not only be told through statistics and global reports,
but also through human experiences, memories, and emotions.

This project explores climate justice through a personal lens,
connecting my experience growing up in Myanmar with wider
conversations about inequality, displacement, and resistance.

</p>


</div>



<div class="card">


<h2>
The Thinking Behind the Design
</h2>


<p>

Rather than following a traditional information-based podcast format,
I chose storytelling as a way to create connection.

Inspired by feminist, Indigenous, and decolonial approaches to knowledge,
the podcast focuses on relationships, emotions, and lived experiences.

The aim was not only to make listeners understand climate injustice,
but also to encourage them to feel and reflect.

</p>


</div>



<div class="card">


<h2>
From Academic Research to Personal Storytelling
</h2>


<p>

Academic ideas such as intersectionality, slow violence, and climate
justice shaped the foundation of this project.

However, I wanted to translate these concepts into a more accessible
story that connects academic knowledge with everyday experiences.

This project taught me that communication is not only about delivering
information, but also about creating spaces for empathy and dialogue.

</p>


</div>



</section>


</body>

</html>